@import "./media-queries";
@import "./variables";

/*FOOTER*/
.borde {
    display: block;
    margin-top: $margen-footer;
    @include celular {
        margin-top: 0rem;
    }
    @include tablet {
        margin-top: $margen-footer/2;
    }
    z-index: -1;
}
.footer {
    background: #c1cad6a1;
    &__logo {
        padding-bottom: 1rem;
        margin-top: -1.5rem;
    }
    &__contacto {
        margin: 0rem 1rem;
        @include celular {
            margin-bottom: 0.5rem;
        }
        @include tablet {
            margin-bottom: 0.5rem;
        }
    }
    &__icono {
        font-size: 1.25rem;
        margin: 0.5rem;
    }
    &__info {
        margin-bottom: 0;
        font-size: 1rem;
    }
}