@import "./variables";

/*SERVICIOS*/
.seccion {
    padding: 1rem 0rem;
    margin-top: 8rem;
    .contenedor {
        &__carta {
            background-color: $lila-contenedores;
            padding: 1rem;
            border-radius: $borde-contenedor;
        }
        &__icono {
            font-size: 1.8rem;
            color: $rosa;
            padding: 1rem;
        }
    }
}