@import "./variables";

.error {
    overflow-y: hidden;
    &__seccion {
        @include celular {
            padding: 2rem;
        }
        @include tablet {
            padding: 1.8rem;
        }
    }
    &__titulo {
        font-size: 4rem;
        margin-top: -4rem;
        padding: 1.5rem;
        @include tablet {
            font-size: 3rem;
        }
    }
    &__parrafo {
        font-size: 1.5rem;
        @include celular {
            font-size: 1.8rem;
        }
        @include tablet {
            font-size: 1.3rem;
        }
    }
    &__boton {
        text-decoration: none;
        background-color: $amarillo;
        color: $azul;
        padding: 0.8rem 1.2rem;
        border-radius: $borde-btn-campo;
        transition: all 1s;
        margin: 1rem;
        font-size: 1.5rem;
    }
    &__boton:hover {
        background-color: $rosa;
        transform: scale(1.2);
        font-weight: bold;
        box-shadow: $sombra-btn;
    }
    &__boton:active {
        background-color: $azul;
        color: $lila;
        cursor: progress;
    }
}