@import "./media-queries";
@import "./variables";

/*INDEX - SECCIÓN 1*/
.hero {
    background-image: url(../media/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding-top: 12rem;
    animation-name: aparicion-hero;
    animation-duration: 3s;
    @keyframes aparicion-hero {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    &__contenedor {
        background-color: rgba(255, 255, 255, 0.712);
        padding: 1.25rem;
        border-radius: $borde-contenedor;
        text-align: center;
        box-shadow: 10px 10px 20px $lila;
    }
    &__titulo {
        color: $azul;
        font-size: 3rem;
        @include celular {
            font-size: 2.5rem;
        }
    }
    &__boton {
        text-decoration: none;
        background-color: $amarillo;
        color: $azul;
        padding: $padding-btn;
        border-radius: $borde-btn-campo;
        transition: all 0.5s;
        display: inline-block;
    }
    &__boton:hover {
        background-color: $rosa;
        transform: scale(1.1);
        box-shadow: $sombra-btn;
    }
    &__boton:active {
        background-color: $azul;
        color: $lila;
        cursor: progress;
    }
}

/*INDEX - SECCIÓN 2*/
.presentacion {
    padding: 2rem;
    @include celular {
        padding: 1rem;
    }
    @include tablet {
        padding: 2rem 1rem 1rem 1rem;
    }
    &__img {
        object-fit: cover;
    }
    &__info {
        padding-top: 1rem;
        @include tablet {
            padding-top: 1rem;
        }
        &__titulo {
            @include celular {
                padding-bottom: 1rem;
            }
            @include tablet {
                padding-bottom: 0.5rem;
            }
        }
    }
}

/*INDEX - SECCIÓN 3*/
.servicios {
    padding: 1rem 0rem;
    &__carta {
        background-color: white;
        border-radius: $borde-contenedor;
        box-shadow: 10px 10px 20px $lila;
        transition: all 0.5s;
        height: auto;
    }
    &__carta:hover {
        box-shadow: 10px 10px 20px #9aa3af;
    }
    &__borde {
        border-radius: $borde-contenedor;
        width: 100%;
    }
    &__servicio {
        font-size: 1.5rem;
        font-weight: bold;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: -0.125rem;
            left: -0.5rem;
            right: -0.5rem;
            height: 0.75rem;
            z-index: -1;
            background-image: url('../media/underline.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        @include celular {
            font-size: 1.8rem;
        }
    }
    &__boton {
        @extend .hero__boton;
        margin: 0rem 1rem 1rem 1rem;
        @include celular {
            padding: 0.4rem 0.5rem;
            margin: 0.5rem;
        }
    }
}
.servicios--corto {
    &__carta {
        height: 15rem;
    }
    &__boton {
        align-self: flex-end;
    }
}

/*INDEX - SECCIÓN 4*/
.contacto-inicio {
    padding: 2rem;
    &__boton {
        @extend .hero__boton;
    }
}