@import "./variables";

/*SERVICIOS*/
.seccion {
    padding: 1rem;
    margin-top: 8rem;
}
.servicios {
    &__icono {
        font-size: 1.8rem;
        color: $rosa;
        padding: 1rem;
    }
    &__parrafo {
        padding: 1rem;
        text-align: center;
    }
    &__carta--largo:hover {
        box-shadow: 10px 10px 20px $lila;
    }
}
