@import "./media-queries";
@import "./variables";

/*SOBRE MÍ - SECCIÓN 1*/
.presentacion--margen {
    margin-top: 7.5rem;
}

/*SOBRE MÍ - SECCIÓN 2*/
.areas {
    padding: 0.5rem 0rem;
    position: relative;
    &__especialidad {
        width: 12rem;
        height: 12rem;
        font-weight: bold;
    }
    &__fondo {
        position: absolute;
        z-index: -1;
        width: 100%;
    }
}